out
media/*
!media/
!media/iosevka-fixed-extended.woff2
!media/iosevka-fixed-extendedmedium.woff2
!media/Iosevka-LICENSE.md
node_modules
.vscode-test/
*.vsix
!releases/
!releases/*.vsix
*~
*.map
package-lock.json
